.sidebar-top ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  margin-top: 6rem;
  padding: 0;
}
.sidebar-top ul li {
  padding: 10px 20px;
  color: #555;
  font-weight: 600;
  transition: 300ms ease;
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
}

.sidebar-top ul li:hover {
  background-color: var(--primary-color);
  color: #fff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
