.footer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}
footer {
  padding: 3rem;
  background-color: var(--primary-color);
  color: #fff;
}
.footer-container ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer-container ul b {
  color: #fff;
}
.footer-container ul li,
.footer-container {
  color: #ccc;
}
