nav .nav-container,
.nav-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav .nav-container {
  width: 100%;
  position: fixed;
  background-color: var(--bg-color);
  z-index: 99;
}
.nav-container ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  gap: 2rem;
  font-weight: 700;
}
.nav-right {
  gap: 1rem;
}
.nav-right a {
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px 30px;
  border-radius: 30px;
  transition: 300ms ease;
  cursor: pointer;
  text-decoration: none;
}
@media screen and (max-width: 827px) {
  .nav-container ul {
    display: none;
  }
}
